/*!
 * 乐乎电影
 * Copyright 2016
 * 
 */

 
/*全局*/
 body{
 	overflow-x: hidden;
 }

a, a:hover, a:visited {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*导航条*/
 .navbar{
 	border-radius: 0px;
    border: none;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    background-color: #3a5795;
    border-color: #3a5795;
 }
.navbar-inverse .navbar-brand {
    color: #ffffff;
    font-size: 24px;   
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.container{
	max-width: 1000px;
}
.navbar-user {
    padding-top: 12px;
    font-size: 12px;
}
.navbar-user .hum {
    padding: 1px;
    float: right;
}
.hum a {
  	color: #fff;
}

/*最新页面样式*/

.latest-navbar{
    background-color: #f0f3f5;
    height: 114px;
}
.latest-navbar-header{
    margin-left: 188px;
    margin-top: 5px;
}
.container-fluid{
    min-width: 1000px;
    height: 75px;
    position: relative;
    padding: 15px 0px 0px 188px;
    border-bottom: 1px solid #e5ebe4;
}

a.latest-navbar-brand{
    font-size: 29px;
    color: #27a; 
}
.latest-navbar-search{
    padding-left: 150px;
}
.latest-search-group{
    margin: 8px 0px 8px 0px;
}

.nav-secondary{
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 0;
    overflow: hidden;
    zoom: 1;
}
.nav-secondary .nav-items {
    float: none;
    zoom: 1;
    font-size: 13px;
    line-height: 21px;
}
.nav-secondary ul {
    margin: 9px 0;
}
.nav-secondary li {
    display: inline;
    margin-right: 30px;
}